.app-bulider__dropdown {
    margin-bottom: 5 px;
    background-color: #f1f1f1 !important;
    border: none;
    font-weight: 600;
    color: #4d5258;
    box-shadow: 0 2px 3px rgb(3 3 3 / 10%);
}

.well {
    background-color: #f5f5f5;
    border: 1 px solid #e3e3e3;
    border-radius: 1 px;
    margin-bottom: 20 px;
    padding: 2rem 1rem;
    text-align: center;
    max-width: 50vw;
    margin: auto;
}

.well-title {
    display: flex;
    color: dimgrey;
    font-weight: 300;
}

.primary-btn {
    width: 100%;
    color: white;
    background-color: #043487;
    border: none;
}

.default-btn {
    padding: 2 px 12 px;
    border: 0 !important;
    background-image: none;
    font-weight: 600;
    color: #4d5258;
    box-shadow: 0 2px 3px rgb(3 3 3 / 10%);
}

.validation-block {
    color: red;
}

/* margin mt = margin-top, mv = margin-vertical */
.mt-1 {
    margin-top: 1rem;
}

/* margin mt = margin-top, mv = margin-vertical */
.mt-2 {
    margin-top: 2rem;
}

/* margin mt = margin-top, mv = margin-vertical */
.mv-1 {
    margin: 1rem 0;
}

/* margin mt = margin-top, mv = margin-vertical */
.mv-2 {
    margin: 2rem 0;
}

/* .modal-dialog {
    width: 300px !important;
} */

.exclamation_icon {
    color: #9c9c9c;
    font-size: 57.6px;
    line-height: 57.6px;
}

/* style ContentTemplateForm.js */
.tw-ctf-heading {
    margin: auto;
}

.tw-ctf-container-fluid-margin {
    margin-top: 2vw;
}

.tw-ctf-formContainer-margin {
    margin-bottom: 2em;
}

.tw-ctf-save-btn {
    margin-left: 1vw;
}

.tw-ctf-legend {
    font-size: 12px;
    color: #d1d1d1;
}

.tw-ctf-inlineEditingAssistant-btn {
    color: black;
}

.tw-ctf-aceEditor {
    border-style: solid;
    border-color: silver;
    border-width: thin;
}

/* style TemplateDataTable.js */

.word-break {
    word-break: break-word;
}

/* style TemplateSearch.js */

.tw-search-btn-mainDiv {
    margin-top: 1rem;
}

.tw-search-label {
    font-size: large;
    font-weight: 500;
}

.tw-type-label-div {
    font-size: larger;
    font-weight: 600;
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

.tw-search-btn-col-lg-4-div {
    margin-left: 5rem;
}

.tw-search-select {
    height: 100%;
    margin-left: 2rem;
}

.tw-search-show-grid-row-div {
    height: 3.2rem;
}

.tw-search-well-div {
    height: 15rem;
}

.tw-search-container-div {
    position: relative;
    z-index: "0";
}